body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(
    155,
    130,
    124,
    0.25
  ); /* Justér gennemsigtigheden til 25% */
}

.program-list {
  width: 100%;
  text-align: center; /* Centrér indholdet horisontalt */
}
.program-list h2 {
  margin-bottom: -20px;
}

.program-list ul {
  list-style-type: none;
  padding: 10px;
  display: flex;
}

.program-list li {
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #d85739;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 20px;
  transition: background-color 0.3s ease;
  width: 100%;
}

/* Stil for programbilleder */
.program-list li img {
  width: 100%; /* Justér bredden af ​​billederne */
  height: auto; /* Oprethold aspektforholdet */
  margin-right: 10px; /* Tilføj plads mellem billedet og teksten */
  border-radius: 5px; /* Tilføj afrundede hjørner til billederne */
}

.program-list li:hover {
  background-color: #9b2900;
}

.exercise-list {
  width: 100%;
  padding: 10px; /* Fjern standard venstre polstring */
  margin-top: -40px;
}
.exercise-list h3 {
  text-align: center;
}

.exercise-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin-right: 1.5%;
}

.exercise {
  flex: 0 0 calc(33.33% - 20px); /* Træk 20px fra hver kolonne */
  margin-bottom: 20px;
  background-color: #b77461;
  text-align: center; /* Centrér indholdet horisontalt */
}

.exercise h2 {
  margin: auto; /* Topmargin øget til 30px */
  /* Dine yderligere stilarter for h2-elementet */
  margin-top: 10%;
  margin-bottom: 10%;
}

.exercise.expanded {
  flex: 90%; /* Sæt bredden til 100% for den udvidede øvelse */
}

.exercise:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.exercise h3 {
  margin-bottom: 10px;
  color: #9b2900;
}

.exercise p {
  margin-bottom: 10px;
  color: #555;
}

/* Stil for øvelsesdetaljer */
.exercise-details {
  background-color: #9b827c; /* Sæt baggrundsfarven */
  padding: 10px; /* Justeret polstring */
  border-radius: 8px; /* Tilføj afrundede hjørner */
  margin: 2%;
  width: auto; /* Sæt bredden til auto */
  max-width: 96%; /* Sørg for, at det ikke overstiger forælderens bredde */
  box-sizing: border-box; /* Inkluder polstring i bredden beregning */
}

.exercise-details h4 {
  margin-bottom: 10px;
  color: black;
}
.exercise-details p {
  margin-bottom: 10px;
  color: black;
}
.exerciseImg {
  max-width: 300px;
  width: 100%; /* Justér bredden af ​​billederne */
  height: auto; /* Oprethold aspektforholdet */
  margin: 0 auto; /* Centrér billedet horisontalt */
  display: block; /* Sørg for, at billedet behandles som et blokelement */
  border-radius: 5px; /* Tilføj afrundede hjørner til billederne */
  padding: 10px;
}
.video-container {
  position: relative;
  width: 100%; /* Sørg for, at videoen fylder sin beholder horisontalt */
  padding-bottom: 56.25%; /* 16: 9 aspektforhold (9/16 * 100) */
  overflow: hidden; /* Skjul eventuelt overskydende indhold */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Sørg for, at videoen fylder beholderen horisontalt */
  height: 100%; /* Sørg for, at videoen fylder beholderen vertikalt */
  border: 0; /* Fjern grænse */
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Lige brede kolonner */
  gap: 0%; /* Afstand mellem grid-elementer */
  padding: 10px; /* Polstring inde i beholderen */
}

.container input[type="text"],
.container button {
  grid-column: span 2; /* Gør input og knap til at fylde to kolonner */
  width: 100%; /* Input og knapper fylder fuld bredde */
  padding: 8px; /* Polstring inde i input og knapper */
  border: 1px solid #ccc; /* Grænse omkring input og knapper */
  border-radius: 5px; /* Afrundede hjørner */
  box-sizing: border-box; /* Inkluder polstring og grænse i bredden beregning */
  margin-bottom: 10px; /* Tilføj afstand mellem inputfelter */
}

.container button {
  background-color: #d85739; /* Baggrundsfarve for knappen */
  color: #fff; /* Tekstfarve */
  cursor: pointer; /* Vis pegepil ved hover */
  transition: background-color 0.3s; /* Glat overgang */
}

.container button:hover {
  background-color: #912710; /* Mørkere baggrundsfarve ved hover */
}

.container ul {
  margin: 28px;
}

/* Stil for inputfelter */
input[type="text"] {
  width: 50%; /* Gør inputfelterne fuld bredde */
  padding: 10px; /* Tilføj polstring */
  margin-top: 18px; /* Tilføj afstand mellem inputfelter */
  border: 1px solid #ccc; /* Tilføj grænse */
  border-radius: 5px; /* Tilføj afrundede hjørner */
  box-sizing: border-box; /* Inkluder polstring og grænse i bredden beregning */
  display: flex;
  flex-direction: column;
}

/* Stil for placeholder-tekst */
::placeholder {
  color: #999; /* Ændre farve på pladsholdertekst */
}

/* Stil for knap */
.start-timer-btn {
  color: #ffefef; /* Indstil tekstfarve */
  background-color: #d85739;
  border: 1px solid #ccc; /* Tilføj grænse */
  border-radius: 5px; /* Tilføj afrundede hjørner */
  padding: 10px;
  margin: 5px;
  cursor: pointer; /* Tilføj pegepil ved hover */
  transition: background-color 0.3s ease; /* Tilføj glat overgang */
}

/* Mobil stilarter */
@media (max-width: 768px) {
  .program-list ul {
    list-style-type: none;
    display: flex;
  }

  .program-list li {
    cursor: pointer;
    background-color: #d85739;
    width: 50%;
    height: auto;
    transition: background-color 0.3s ease;
    margin: 7px;
    border-radius: 200px; /* Tilføj afrundede hjørner til billeder */
    transition: border-radius 3s;
  }

  .program-list li:hover {
    background-color: #9b2900;
  }

  .program-list li img {
    width: 100%; /* Justér bredden af ​​billederne */
    height: auto; /* Oprethold aspektforholdet */
  }
}

/* Medieforespørgsel for mindre skærme */
@media (max-width: 768px) {
  .exercise {
    background-color: #9d6e6e;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #b77461;
  }

  .exercise-list ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 kolonner */
    grid-gap: 4%; /* Afstand mellem grid-elementer */
    list-style-type: none;
    margin-right: 4%;
  }

  .exercise.expanded {
    grid-column: span 2; /* Udvid øvelsen til at fylde 2 kolonner */
  }

  .exercise:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .exercise h3 {
    margin-bottom: 10px;
    color: #007bff;
  }

  .exercise p {
    margin-bottom: 10px;
    color: #555;
  }

  input[type="number"] {
    width: 100%; /* Gør inputfelter fuld bredde */
    padding: 10px; /* Tilføj polstring */
    margin-bottom: 10px; /* Tilføj afstand mellem inputfelter */
    border: 1px solid #ccc; /* Tilføj grænse */
    border-radius: 5px; /* Tilføj afrundede hjørner */
    box-sizing: border-box; /* Inkluder polstring og grænse i bredden beregning */
    display: flex;
    flex-direction: column;
  }

  /* Stil for pladsholdertekst */
  ::placeholder {
    color: #999; /* Ændre farve på pladsholdertekst */
  }

  #start-timer-btn:hover {
    background-color: #0056b3; /* Ændre baggrundsfarve ved hover */
  }
}
