body {
  font-family: Arial, sans-serif;
}

.program-container {
  text-align: center;
  margin-bottom: 20px;
}

.program-btn {
  padding: 10px 20px;
  margin: 5px;
  background-color: #3498db;
  border: none;
  color: white;
  cursor: pointer;
}

.exercise-container {
  max-width: 500px;
  margin: 0 auto;
}

#exercise-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between exercise groups as needed */
}

.exercise-info {
  max-width: 500px;
  margin: 20px auto;
}

#exercise-video {
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}
