body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #c36b54;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  position: relative; /* Add position relative */
  z-index: 2; /* Ensure the navigation bar is above other elements */
}

.menu1 {
  width: 100%;
  top: 0;
  right: 0; /* Adjusted to start from the left */
  z-index: 4; /* higher than other elements */
  display: flex;
  justify-content: space-between; /* Distribute items evenly with space between */
}

.menu1 a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
  font-size: 17px;
  background-color: #c3391b;
  border-radius: 20px;
}

.logo1 img {
  height: 50px; /* Adjust height as needed */
  width: auto;
}

.menu-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4; /* higher than other elements */
  display: none;
}

.menu-toggle {
  padding: 15px;
  cursor: pointer;
  z-index: 5;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 45px;
  left: 0;
  width: fixed; /* or fixed width */
  background-color: #333;
  text-align: left;
  padding: 15px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.menu a:hover {
  background-color: #575757;
}

article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 20px;
}
.article-text h1 {
  font-size: 50px;
}

.article-img img {
  width: 100%;
  height: 84%;
  max-width: 700px;
}

.article-text {
  font-size: 18px;
  text-align: left;
  font-family: "Arvo", serif;
  font-weight: 400;

  padding-bottom: 100px; /* Adjust the padding to create space at the bottom */
}

.video-container {
  position: relative;
  width: 100%; /* Ensure the video fills its container horizontally */
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure the video fills the container horizontally */
  height: 88%; /* Ensure the video fills the container vertically */
  border: 0; /* Remove border */
}

footer {
  background-color: #898989;
  color: #fff;
  text-align: center;
  padding: 10px 0;

  position: fixed; /* Ensure the footer remains at the bottom of the viewport */
  bottom: 0; /* Align the bottom of the footer with the bottom of the viewport */
  width: 100%; /* Make the footer span the entire width */
}

@media (max-width: 994px) {
  article {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 20px;
  }

  .article-img img {
    max-width: 100%; /* Adjust to fit the grid */
    max-height: 400px; /* Maintain aspect ratio */
    width: 100%;
    height: 100%;
  }

  .article-text {
    padding-bottom: 20px; /* Adjust as needed for smaller screens */
    text-align: left;
  }
  .video-container {
    position: relative;
    width: 100%; /* Ensure the video fills its container horizontally */
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ensure the video fills the container horizontally */
    height: 100%; /* Ensure the video fills the container vertically */
    border: 0; /* Remove border */
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;

    position: relative; /* Ensure the footer remains at the bottom of the viewport */
    bottom: 0; /* Align the bottom of the footer with the bottom of the viewport */
    width: 100%; /* Make the footer span the entire width */
  }
}

@media (max-width: 1194px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  nav {
    display: none;
  }

  .menu-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    z-index: 2; /* higher than other elements */
    display: block;
  }

  .menu-toggle {
    padding: 15px;
    cursor: pointer;
    z-index: 5;
  }

  .menu-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 45px;
    left: 0;
    width: fixed; /* or fixed width */
    background-color: #333;
    text-align: left;
    padding: 15px;
  }

  .menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }

  .menu a:hover {
    background-color: #575757;
  }
}
