.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.header {
  position: relative;
  background: linear-gradient(
    135deg,
    #72320e,
    #5e2b16
  ); /* Gradient background */
  padding: 20px; /* Add some padding around the header text */
  text-align: center; /* Center-align the header text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-bottom: 7px solid #4a1904; /* Adjusted darker brown bottom border */
  border-radius: 9px; /* Add rounded corners */
  color: #fcd4b8; /* Text color */
  transition: background-color 0.4s ease; /* Transition effect for background color */
  font-family: "Open Sans", sans-serif; /* Custom font */
  flex-grow: 1;
}

.header:hover {
  background: linear-gradient(
    135deg,
    #934625,
    #6f2e09
  ); /* Reverse gradient on hover */
}

.header h1 {
  font-size: 36px; /* Increase font size */
  margin: 0; /* Remove default margin */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 2px; /* Add letter spacing */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Text shadow for depth */
  display: inline-block; /* Ensure inline display */
}

.lang-button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  padding: 5px 10px;
  background-color: #501f03;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.lang-button img {
  width: 70px; /* Adjust the size of the flag icon as needed */
  height: auto;
  margin-right: 0px;
}

/* Styling for the body */
body {
  background-color: #3b1c0d; /* Dark brown background color */
  background-image:
        /* Burnt wood pattern */ linear-gradient(
      65deg,
      #3b1c0d 5%,
      transparent 5%,
      transparent 75%,
      #3b1c0d 75%,
      #3b1c0d
    ),
    linear-gradient(
      25deg,
      #3b1c0d 5%,
      transparent 5%,
      transparent 75%,
      #3b1c0d 75%,
      #3b1c0d
    ),
    radial-gradient(
      circle at top left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0.5) 100%
    );
  background-size: cover; /* Cover the entire screen */
  background-blend-mode: overlay;
  margin: 0; /* Remove default body margin */
  height: 100vh; /* Set body height to viewport height */
}

/* Styling for the form */
#form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form content horizontally */
  margin-top: 20px;
}

#form input[type="email"],
#form input[type="time1"] {
  width: 60%; /* Adjust width as needed */
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #8b4513; /* Brown border */
  border-radius: 5px;
  background-color: #cd853f; /* Brown background */
}

#form input[type="email"]::placeholder,
#form input[type="time1"]::placeholder {
  color: #fcd4b8; /* Light brown placeholder color */
}

#form input[type="submit"] {
  margin: 10px;
  background-color: #8b4513; /* Brown background */
  color: #fcd4b8; /* Text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#form input[type="submit"]:hover {
  background-color: #9d6731; /* Darker brown on hover */
}

/* Styling for the map container */
.map-container {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
}

@media screen and (max-width: 400px) {
  .map-container {
    flex-direction: column; /* Change to column layout */
  }
}

/* Styling for the map */
#map {
  flex: 1; /* Take up remaining space */
  height: 900px; /* Adjust height as needed */
  min-width: 100px;
  margin: 10px;
}
/* Styling for the hairdresser info container */
.hairdresser-info-container {
  display: flex;
  flex-direction: column; /* Stack hairdresser info vertically */
  top: 20px; /* Adjust position from top */
  right: 20px; /* Adjust position from right */
  padding: 10px; /* Add padding */
  border-radius: 10px; /* Add rounded corners */
}

/* Styling for the student discount icon */
.student-discount-icon {
  position: absolute; /* Position the icon relative to the container */
  top: 150px; /* Adjust position from top */
  right: 25px; /* Adjust position from right */
  cursor: pointer;
  width: 30px; /* Set width */
  height: 30px; /* Set height */
  border: 2px solid #654321; /* Dark brown border */
  border-radius: 50%; /* Make it circular */
  font-size: 18px; /* Set font size */
  line-height: 26px; /* Adjust for vertical centering */
  text-align: center; /* Center text horizontally */
  color: #654321; /* Dark brown color */
}

/* Styling for the student discount tooltip */

.student-discount-tooltip {
  position: absolute; /* Position the tooltip relative to the container */
  bottom: 100%; /* Position above the container */
  left: 50%; /* Position at the center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  background-color: #fff; /* White background */
  color: #654321; /* Dark brown color */
  padding: 5px 10px; /* Add padding */
  border: 2px solid #654321; /* Dark brown border */
  border-radius: 5px; /* Add rounded corners */
  font-size: 12px; /* Set font size */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Add transition effect */
}
.student-discount-icon:hover::before {
  content: "Student Discount Available"; /* Message to display */
  position: absolute; /* Position the message relative to the icon */
  bottom: 100%; /* Position above the icon */
  left: 50%; /* Position at the center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  background-color: #f2ac79; /* White background */
  color: #583410; /* Dark brown color */
  padding: 5px 10px; /* Add padding */
  border: 2px solid #654321; /* Dark brown border */
  border-radius: 5px; /* Add rounded corners */
  font-size: 12px; /* Set font size */
  opacity: 1; /* Show the message */
  transition: opacity 0.3s ease; /* Add transition effect */
}

@media screen and (max-width: 680px) {
  .student-discount-icon {
    display: none;
  }
}

/* Show tooltip on hover */
.hairdresser-info-container:hover .student-discount-tooltip {
  opacity: 1; /* Show tooltip on hover */
}

/* Styling for each hairdresser info */
.hairdresser-info {
  margin-bottom: 10px; /* Add margin between hairdresser info */
  max-width: 500px; /* Set maximum width */
  border: 3px solid #8b4513; /* Brown border */
  padding: 10px; /* Increase padding for more space */
  border-radius: 10px; /* Add rounded corners */
  background-color: rgba(
    139,
    69,
    19,
    0.5
  ); /* Less transparent brown background */
  font-size: 15px; /* Increase font size */
  color: wheat;
}

#disclaimer {
  display: flex;
  justify-content: center; /* Horizontally center content */
  text-align: center; /* Horizontally center text */

  font-size: 12px;
  color: #8b4513;
  margin-top: -30px;
  margin-left: 110px;
  margin-right: 110px;
}

/* CSS */
.hairdresser-info {
  display: none; /* Initially hide the hairdresser info */
}

.show-info {
  display: block; /* Show the hairdresser info when the class is present */
}

/* Styling for the booking container */
.booking-container {
  display: flex;
  flex-direction: column;
}

.booking-container h3 {
  margin-bottom: 10px; /* Add some space between heading and time slots */
}

/* Styling for the navigation buttons */
.navigation {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
  margin-top: 20px; /* Add some space between time slots and navigation */
}

.navigation button {
  background-color: #8b4513; /* Brown background */
  color: #fcd4b8; /* Text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 145px; /* Fixed width for both buttons */
  text-align: center; /* Center the text horizontally */
}

.navigation button:first-child {
  margin-right: 5px; /* Add margin to separate buttons */
}

.navigation button:last-child {
  margin-left: 5px; /* Add margin to separate buttons */
}

.navigation button:hover {
  background-color: #a26d38; /* Darker brown on hover */
}

/* Styling for the booking times */
.booking-container {
  margin-top: 30px;
}

.booking-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 20px;
}

.time-slot-available {
  background-color: #4caf50; /* Green background */
  color: #fcd4b8; /* Text color */
  border: solid 1px #8b4513; /* Brown border */
  padding: 5px 10px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.time-slot-not-available {
  background-color: #f44336; /* Red background */
  color: #fcd4b8;
  border: solid 1px;
  padding: 5px 10px;
  font-size: 13px;
  cursor: not-allowed;
}

.time-slot-available:hover {
  background-color: #45a049; /* Darker green on hover */
}

.time-slot-not-available:hover {
  background-color: #f44336;
}

/* Styling for the footer */
footer {
  background-color: #572807; /* Brown background */
  color: #e5a679; /* Text color */
  text-align: center;
  padding: 20px 0;
}
